<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.sesam">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
    <application android:label="Sesam.Android" android:theme="@style/MainTheme" android:usesCleartextTraffic="true" android:debuggable="true">
    </application>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
</manifest>
